#postBox {

    width : 70vw;
    height : 70vh;
    border: 1px solid bisque;
    color: black;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    background-color: bisque;
    border-radius: 25px;
    flex-wrap: wrap;
}

#mapContainer{
    border-radius: 25px;
    background: #73AD21;
    padding: 5px;

}